.item-count {
    position: absolute;
    top: 0;
    right:0;
    background-color: rgb(245, 119, 17);
    color: black;
    font-size:10px;
    padding: 3px 7px;
    border-radius: 50%;
    transform: translate(50%, -50%);
} 