body{
  font-family:"DM Sans", sans-serif;
  background-image: url(https://cdn.create.vista.com/api/media/small/23860159/stock-vector-seamless-subtle-patterns-with-circle);
  background-repeat: repeat;  
}

.navbar{
  display: flex;
  height: 100px;
  background-color: black;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
  .navbar-logo img {
    width: 10rem;
    text-align: justify;
    margin-right: 5rem;
  }
  
  .navbar-categories a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1.5rem;
    position: relative;
    text-decoration: none;
    color: white;
  }

  .navbar-categories a:hover{
    background-color: gray;
    color: white;
    
}
  
  
  .cart-widget-qty {
    position: absolute;
    top: 0;
    right:0;
    background-color: rgb(247,165,99);
    color: black;
    font-size:10px;
    padding: 3px 7px;
    border-radius: 50%;
    transform: translate(50%, -50%);
} 


.cart-widget {
    position:relative;
    color:white;
    margin-left: 5rem;
}
